# Tech approvals
*.cs @digipen-2024-winter-project-team/tech-team
*.asmdef @digipen-2024-winter-project-team/tech-team
.gitignore @digipen-2024-winter-project-team/tech-team
.gitattributes @digipen-2024-winter-project-team/tech-team
.github/* @digipen-2024-winter-project-team/tech-team
